.el-menu {
  background-color: rgba(254, 219, 207, 0);
}
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus {
  color: #fff;
  background-color: rgba(254, 219, 207, 0);
}
.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 3px solid #409EFF;
}
.el-menu--horizontal > .el-menu-item {
  color: #fff;
}
.el-dropdown {
  color: #fff;
  height: 19px;
}
.head {
  display: flex;
  background-image: url(../../assets/images/head.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 184px;
}
.head .img {
  width: 70px;
  height: 35px;
}
.head .img img {
  margin-top: 17px;
  margin-left: 27px;
}
.head .box {
  width: 1098px;
  height: 100%;
  color: #FFFFFF;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: space-between;
}
.head .box h1 {
  margin-top: 30px;
  width: 978px;
}
.head .box span {
  margin-right: 27px;
}
